.history
node_modules
npm-debug.log

/dist
/build

electron-builder.yml

installation/make-electron-builder-yml.js
installation/extra-resources

.DS_Store

**/*.eez-project-ui-state
**/*.eez-project-runtime-settings

libs/*
resources/expression-grammar.pegjs
packages/*
!packages/standalone/
